<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->

<configuration>

	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
<!-- 		<typeAlias type="onlyblue21.vo.UserVo"		 	alias="UserVo21"/> -->
<!-- 		<typeAlias type="onlyblue21.vo.User_Board" 		alias="ListVo21"/> -->
	</typeAliases>

	<!-- SQL Definition :: file include -->
  <mappers>
    <mapper resource="/SQL/UserSQL.xml"/>
  </mappers>
  
  
</configuration>