@CHARSET "UTF-8";

body { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black;  border="1"  display: table-call; vertical-align:middle; }


#aa { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black; text:bold  }
.aa { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black; text:bold }

#inner {display: table-cell; vertical-align:middle;}
#outer { display:table;}
