@CHARSET "UTF-8";

body { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black;  border="1"  display: table-call; vertical-align:middle; }

#login {width:1280px; height:720px; border:1px solid #000; }
#aa { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black; text:bold  }
.aa { margin: 0px auto; padding: 20px 0px; width: 1280px; color: black; text:bold }

#inner {display: table-cell; vertical-align:middle;}
#outer { display:table;}
